.btn-covid {
  color: #fff !important;
  background-color: $covid-color !important;
  border-color: $covid-color !important;
}

.badge-covid {
  color: #fff !important;
  background-color: $covid-color !important;
  padding: 0.3rem;
}
