.index-container {
  padding: 2rem 1rem;
  & h2 {
    padding-bottom: 1rem;
    font-weight: 500;
  }
}

.estimate-result {
  & h3 {
    font-size: 1.6rem;
    margin-left: 1.8rem;
    padding-top: 1rem;
    margin-top: 1rem;
    font-weight: 400;
  }
}

@media only screen and (max-width: 768px) {
  .index-container > h2 {
    font-size: 1.3rem;
  }
  .estimate-result h3 {
    font-size: 1.3rem;
  }

  .estimate-result li {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 368px) {
  .index-container h2 {
    font-size: 1rem;
  }
  .estimate-result > h2 {
    font-size: 1.4rem;
  }

  .estimate-result h3 {
    font-size: 1.2rem;
  }
}
